/* Reset css */
li {
    list-style-type: none;
}

/* Root color */
.bg-red {
    background-color: #B22222;
}


/* Top menu */
.top-menu input[type=text] {
    width: 470px;
    height: 40px;
}

.top-menu i.fa-phone {
    font-size: 25px;
}

.top-menu i.fa-cart-shopping {
    font-size: 25px;
}

/* Nav meunu */
nav ul li a {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

/* Banner */
.owl-carousel .owl-next {
    top: 50%;
    right: 10px;
    position: absolute;
    transform: translateY(-50%);
}

.owl-carousel .owl-prev {
    top: 50%;
    left: 10px;
    position: absolute;
    transform: translateY(-50%);
}

.owl-carousel .owl-next span, .owl-carousel .owl-prev span {
    font-size: 70px;
}
/* Component */
.home-title{
    text-transform: uppercase;
    color: #B22222;
    border: 3px solid grey;
    display: inline-block;
    padding: 10px; /* Sử dụng phần trăm để tạo khoảng cách giữa chữ và border */
    line-height: 1; /* Đảm bảo line-height không tạo ra khoảng cách thêm */
}