/* Reset css */

/* Root color */
.text-red {
    color: #B22222;
}

.bg-red {
    background-color: #B22222;
}

.bg-grey {
    background-color: #F4F4F4;
}

/* Top menu */
.top-menu-desktop {
    display: flex;
}

.top-menu input[type=text] {
    width: 470px;
    height: 40px;
}

.top-menu i.fa-phone {
    font-size: 25px;
}

.top-menu i.fa-cart-shopping {
    font-size: 25px;
}

.top-menu .contact-phone {
    cursor: pointer;
}

.top-menu .dropdown-cart {
    position: relative;
}

.top-menu .dropdown-cart .list-cart {
    position: absolute;
    z-index: 1000000;
    left: -228px;
    width: 322px;
    padding: 5px;
    display: none;
    background-color: white;
    border: 1px solid rgb(218, 207, 207);
}

.top-menu .dropdown-cart:hover .list-cart {
    display: block;
}

.top-menu .dropdown-cart .list-cart hr {
    margin-top: 10px;
    margin-bottom: 5px;
}

/* Menu desktop */
nav.nav-desktop {
    position: sticky;
    top: 0px;
    z-index: 100000;
}

nav.nav-desktop ul li {
    list-style: none;
}

nav.nav-desktop ul li a {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    margin: 20px;
}

nav.nav-desktop ul li a:hover {
    text-decoration: none;
    color: white;
}

nav.nav-desktop {
    margin-bottom: -16px;
}

/* Menu mobile */
.nav-mobile {
    display: none;
}

nav.nav-mobile i.fa-cart-shopping {
    font-size: 25px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 999;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 10px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Banner */
.owl-carousel .owl-next {
    top: 50%;
    right: 10px;
    position: absolute;
    transform: translateY(-50%);
}

.owl-carousel .owl-prev {
    top: 50%;
    left: 10px;
    position: absolute;
    transform: translateY(-50%);
}

.owl-carousel .owl-next span,
.owl-carousel .owl-prev span {
    font-size: 70px;
    color: white;
}

.owl-carousel .owl-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5px;
}

/* Info Company */
.info-company {
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
    padding: 15px;
}

.info-company i {
    font-size: 33px;
}

/* List Product */
.list-product {
    background-color: #F4F4F4;
}

.list-product .title,
.list-news .title {
    position: relative;
}

.list-product .title h3,
.list-news .title h3 {
    border: 2px solid #9f9b9b;
    padding: 5px;
    z-index: 999;
    background-color: white;
}

.list-product .title::before,
.list-news .title::before {
    content: '';
    position: absolute;
    top: 25px;
    width: 68%;
    border: 1px solid #9f9b9b;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-55%);
}

.list-product .row .col .product {
    background-color: white;
    padding: 15px 10px 25px 10px;
    position: relative;
}

.list-product .row .col .product .discount {
    position: absolute;
    border: 1px solid white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: red;
    color: white;
    padding-top: 10px;
    top: 10px;
    left: 0px;
}

.list-product .products .product a {
    text-decoration: none;
    color: white;
}

.list-product .products .product .text-decoration-line-through {
    text-decoration: line-through;
}



/* Footer */
footer ul li {
    list-style: disc;
}

footer ul li a {
    color: white;
}

footer ul li a:hover {
    color: rgb(167, 161, 161);
    text-decoration: none;
}

.footer-bottom {
    background-color: #212121;
    padding: 10px;
}

.footer-bottom div {
    color: white;
    font-size: 14px;
}

/* Reponsite */
@media screen and (max-width: 1199px) {
    .top-menu input[type=text] {
        width: 382px;
    }
}

@media screen and (max-width: 992px) {
    .top-menu input[type=text] {
        width: 185px;
    }
}

@media screen and (max-width: 850px) {
    .top-menu-desktop {
        display: none;
    }

    .nav-desktop {
        display: none;
    }

    .nav-mobile {
        display: block;
    }
}

@media screen and (max-width: 500px) {

    .list-product .title h3,
    .list-news .title h3 {
        font-size: 16px;
    }

    .list-product .title::before,
    .list-news .title::before {
        display: none;
    }
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}